<div class="currentDay">

    <div class="weatherCurrent">
        <p style="margin: 0;">
            <span class="icon-small wi-up"></span> {{ weather.weatherCast[0].tempMax }}&#730;
            <span class="icon-small wi-down"></span> {{ weather.weatherCast[0].tempMin }}&#730;
            <span class="icon-small wi-wind-north" ng-style="weather.weatherCast[0].deg"></span> {{ weather.weatherCast[0].wind }}
            <span class="icon-small wi-strong-wind"></span>{{ weather.weatherCast[0].windSpeed }}
        </p>
        <p style="margin: -10px 0 0 0;font-size: 67px;text-align:center;padding-left: 20px;" ng-class="weather.weatherCast[0].icon">
        <span class="currentdayTemp">
            <span class="icon-medium wi-thermometer"></span>
            {{weather.weatherCast[0].temp}}&#730;
        </span>
        </p>
    </div>
    <table class="forecast-table">
        <tbody>
        <!--repeat-->

            <tr ng-repeat="weatherCast in weather.weatherCast" ng-if="$index > 0">
                {{$index}}
                <td class="day">{{ weatherCast.day | getDutchDates:'dag' }}</td>
                <td><span ng-class="weatherCast.icon"></span></td>
                <td><span style="float:left;">{{weatherCast.temp}}&#730;</span></td>
                <td>
                    <span style="float:right;">
                    <span class="wi-wind-north" ng-style="weatherCast.deg"></span>
                    {{ weatherCast.wind | uppercase }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>